<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>sentiment analysis</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Comment polarity prediction</h1>
  <form action="{{ url_for('predict')}}" method="post">
    <input type="text" name="comment" placeholder="please insert your comment here" required="required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">I think your comment is ...</button>
  </form>
  <br>
  <br>
  <p> i think your comment is <b><i>{{ predicted_polarity }}</i></b>
</body>
</html>
